.header {
	display: flex;
	justify-content: space-between;
	// position: fixed;
	height: 73px;
	padding: 0 10px;

	.logo {
		height: 100%;
	    width: 135px;
	    // padding: 27px 15px;
	}

	.menu-icon {
		// padding: 27px 15px;
		width: 25px;
		height:100%;
	}
}


@media only screen  and (min-width: 1025px) {
	.header {
		height: 60px;
		padding: 0 45px;

		.links {
			margin-top: 20px;
			margin-left: 30px;
			display: flex;
			justify-content: space-between;
			width: 445px;
			font-size: 15px;
		}

		.user-div {
			display: flex;
			margin-top: 7px;
			align-content: center;

			.sign-out-icon {
				margin-top: 10px;
			}
		}
	}
}